@use "common";

body {
  background-image: linear-gradient(135deg, #8ecbe6, #e743c3);
}

.menu {
  cursor: pointer;

  .border {
    fill: rgb(255, 255, 255);
    transition: 10000ms all ease;
    transform-origin: 250px 250px;
  }

  &:hover {
    .border {
      fill: rgb(137, 10, 12);
    }

    .border1 {
      transform: translate(-102px, 102px) rotate(45deg);
    }
    .border2 {
      opacity: 0;
    }
    .border3 {
      transform: translate(-102px, -102px) rotate(-45deg);
    }
  }
}
