* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #0accf8;
  color: #fff;

  > section,
  > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
  }
}

h1,
p {
  margin-bottom: 20px;
}

#map,
#city {
  path:not(.visible) {
    fill-opacity: 0;
  }
}

#city {
  max-width: 1024px;

  .st0 {
    fill: #0accf8;
  }

  .st1 {
    fill: none;
    stroke: #fcfcfc;
    stroke-width: 3;
    stroke-linecap: round;
  }

  .st2 {
    fill: #fcfcfc;
    stroke: #fcfcfc;
    stroke-width: 3;
  }

  .st3 {
    fill: none;
    stroke: #fcfcfc;
    stroke-width: 3;
    stroke-miterlimit: 10;
  }

  .st4 {
    fill: none;
    stroke: #fcfcfc;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .st5 {
    fill: #fcfcfc;
    stroke: #fcfcfc;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .st6 {
    fill: #fcfcfc;
    stroke: #fcfcfc;
    stroke-width: 3;
    stroke-linecap: round;
  }

  .st7 {
    fill: #fcfcfc;
    stroke: #fcfcfc;
  }
}

#mapWrapper {
  padding-left: 50px;
  padding-right: 50px;
}

#map {
  .st0 {
    fill: #a9edfd;
  }

  .st1 {
    fill: none;
    stroke: #0accf8;
    stroke-width: 15;
    stroke-miterlimit: 10;
  }

  .st2 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 15;
    stroke-miterlimit: 10;
  }

  .st3 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 10;
    stroke-miterlimit: 10;
  }

  .st4 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 6;
    stroke-miterlimit: 10;
  }

  .st5 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #e1ff50;
    stroke: #e1ff50;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st6 {
    fill: none;
    stroke: #0accf8;
    stroke-width: 9;
    stroke-miterlimit: 10;
  }

  .st7 {
    fill: #e1ff50;
    stroke: #e1ff50;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }

  .st8 {
    fill: none;
    stroke: #fefefe;
    stroke-width: 15;
    stroke-miterlimit: 10;
  }

  .st9 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #ec8370;
  }

  .st10 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #dadada;
  }

  .st11 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #fefefe;
  }
}

.copyright {
  text-align: center;
}
